<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw_Bvmd1kLaDFrXDI8XC2Zi2U00EzsRU8</string>
	<key>GCM_SENDER_ID</key>
	<string>377618963576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geoportalMobile</string>
	<key>PROJECT_ID</key>
	<string>geoportal-a3727</string>
	<key>STORAGE_BUCKET</key>
	<string>geoportal-a3727.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377618963576:ios:fcce18742296a6ada0a18d</string>
</dict>
</plist>